body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 2;
}

section {
  max-width: 600px;
  margin: 50px auto;
  padding: 2rem;
}

.heading-3 {
  font-weight: 500;
  font-size: 1.6rem;
  padding: 0.5rem 0;
}

.hidden {
  display: none;
}
