form {
  border: 1px solid $color-primary;
  border-radius: 3px;
  padding: 40px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
}

input,
.submit-btn {
  padding: 0.8rem 1.8rem;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
}

.submit-btn {
  text-transform: uppercase;
  background-color: $color-primary;
  color: $color-white;
  border-width: 0;

  &:hover {
    background-color: rgba($color-primary, 0.95);
  }

  &:active {
    background-color: rgba($color-primary, 0.85);
  }
}

.form-error {
  margin-bottom: 10px;
  padding: 1rem 2rem;
  border: 2px solid $color-danger;
  border-radius: 0.5rem;
  background-color: rgba($color-danger, 0.05);
  color: $color-danger;
}
