.results {
  font-size: 1.5rem;
}

.result {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.result-value {
  color: $color-primary;
}
